.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(14px + 1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px darkgray solid;
  width: 85%;
}

.row p.col {
  font-size: large;
  font-size: 32px;
}

.row p {
  width: 10%;
  font-size: 16px;
}

.col {
  color: lightgray;
}
